# Base de datos
DB_PORT=5432
DB_NAME=nombre_basedatos
DB_USERNAME=usuario_base_datos
DB_PASSWORD=password_base_datos

#Aplicacion 
APP_JWT_SECRET=proyecto-dev-jwt-secret-key-32chars
APP_SEED_EMAIL=ejemplo@yarumito.edu.co
APP_SEED_PASSWORD=contrasenia-prueba
